<h1>Events</h1>
<!-- Add the event details (e.g., wedding, pre-wedding events) -->
<p> Toda la info de ese día, la hora, dresscode, de todo! Si quieren puede ser hasta el pre wedding event </p>
<%= link_to 'Back', root_path %>
