<h1>Registry</h1>
<!-- Add information about the wedding registry -->
<p> Un link al registry online que tengan. Ademas las cuentas compartidas o en comun para realizarles transacciones, yappy o donaciones</p>
<%= link_to 'Back', root_path %>
