<h1>RSVP</h1>
<!-- Add the RSVP form or information -->
<p>Agregar una sección para RSVP. Que este conectada con el RSVP del envelope, que este conectada con el guest list y actualice el guestlist </p>
<%= link_to 'Back', root_path %>
