
#home {
  padding: 50px;
}

#us-through-time, #our-story, #events, #accommodations, #attractions, #hairdressers, #restaurant, #rsvp, #registry {
  padding: 60px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.navbar {
  background-color: #007bff;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffcc00;
}
